<div class="row p-3">
  <div class="col-12 p-3 text-white text-center">
    <h1>About Axcora Dev</h1>
    <img
      class="img-fluid"
      alt="pembuatan website dan aplikasi android"
      src="https://1.bp.blogspot.com/-eXysooc8tP8/X-MC99LYS2I/AAAAAAAAMD4/wQO1XZDgdcgCLkZxx4byL5JE9xkFQ4JfQCLcBGAsYHQ/s497/web_hosting.png"
    />
    <p>
      Axcora team dev adalah sebuah team yang berdedikasi untuk kebutuhan
      development website informasi modern dengan basis single page apps,
      include dengan aplikasi android all in one dalam layanan kami. sehingga
      bukan cuma sebuah website tapi kamu juga bisa upload playstore aplikasi
      android informasi untuk bisnis mu.
    </p>
    <p class="border border-light p-3 rounded">
      Pricing layanan yang murah per tahun nya untuk kebutuhan bisnis usaha mu,
      include dengan aplikasi android upload ke playstore google dan website
      modern mu dengan domain .com + hosting + 5 page informasi all in one hanya
      Rp.2.000.000 saja sekali bayar. <br />Dan untuk biaya perpanjangan website
      cukup hanya Rp.550.000/tahun nya jika ingin memperpanjang website mu.<br />Biaya
      penambahan per page hanya Rp.250.000 <br /><a
        href="https://wa.me/6285646104747?text=Axcoraapps%20saya%20mau%20order%20androidapp+web%0ANama/Usaha%20%3A%0Anama domain web%20%3A%0APrice%20%3ARp.2.000.000%0APembayaran%20via%20%3A%0ABCA%20018188410%20Suci%20Chanifah%0A%0Atolong%20diproses%20pesanan%20saya"
        class="col-6 btn btn-light rounded-pill"
        >Order Now</a
      >
    </p>
  </div>
</div>
