<div class="row p-3">
  <div class="col-12 p-3 text-white text-center">
    <h1>Pembuatan Website Sapper Svelte + Android APK</h1>
    <img
      class="img-fluid rounded-circle"
      alt="pembuatan website single page progresive web apps"
      src="https://1.bp.blogspot.com/-LfRAi7S0D04/YX4uIriHxoI/AAAAAAAARlU/Hpc3b0zygTouarz06fbDPBqY3ROw9VdzgCLcBGAsYHQ/s510/pembuatan%2Bwebsite%2Bspa%2Bpwa%2Bdengan%2Bsaper.jpg"
    />
    <p>
      Masih seputar dengan technology svelte, berbeda dengan svelte native maka
      kini hadir sapper yang juga menggunakan svelte sebagai framework library
      untuk deploy sebuah modern website cepat non loading pada akses nya. yang
      membuat berbeda adalah sapper menghadirkan progresive web apps, jadi
      ketika pengunjung akses website mu maka akan hadir pilihan untuk melakukan
      installasi pada smartphone nya, jad ini adalah alternatif terbaik untuk
      website dan aplikasi phone dalam penerpan nya.
    </p>
  </div>
</div>
