<div class="row p-3">
  <div class="col-12 p-3 text-white text-center">
    <h1>Pembuatan Website Apps</h1>
    <img
      class="img-fluid"
      alt="pembuatan website laravel"
      src="https://1.bp.blogspot.com/-yx-bDZz0PPs/YX4sMa8hS6I/AAAAAAAARlM/rRLiMH7mjxMvaOSuGv2ZfQ6qSlCkZKXqACLcBGAsYHQ/s1280/pembuatan%2Bwebsite%2Blaravel.png"
    />
    <p>
      Hei jangan lupakan sang artisan dan generasi PHP , tentu untuk kebutuhan
      dinamis serta stabilitas dalam penggunaan website plus aplikasi di dalam
      nya maka kita membutuhkan php untuk solusi terbaik dalam menunjang
      kebutuhan lengkap bisnis mu, dengan ini kita dapat mengembangkan website
      dinamis yang terintergasi dengan aplikasi kasir toko restoran penjualan
      dalam satu apps, yap laravel, code igniter dan native php menjadi solusi
      terbaik dalam menciptakan sebuah website applikasi yang terintegrasi.
    </p>
    <p>
      Bukan sekedar website di dalam nya tetapi juga online shop order plus
      aplikasi kasir toko resotran penjualan dilengkapi dengan laporan detail
      dalam satu applikasi siap untuk membantu bisnis usaha mu.
    </p>
  </div>
</div>
