<div class="row p-3">
  <div class="col-12 p-3 text-white text-center">
    <h1>Hubungi Kami</h1>
    <img
      class="img-fluid"
      alt="pembuatan website laravel"
      src="https://1.bp.blogspot.com/-ZgThCBBOIXk/X-GyC1_93iI/AAAAAAAAL-g/KklJKtvnXhECd6PZg9vKQeHAyW0uyvowgCPcBGAYYCw/s741/aplikasisekolaherpaxcoraschool.png"
    />
    <p>
      Jangan ragu untuk menghubungi kami dan konsultasikan kebutuhan bisnis mu.
    </p>
    <p>Klik tombol dibawah ini untuk terhubung dengan team kami.</p>
    <a
      href="https://wa.me/6285646104747"
      class="btn btn-light rounded border border-dark"
      >Whatsapp</a
    >
    <a
      href="tel:+62895339403223"
      class="btn btn-light rounded border border-dark"
      >Call Us</a
    >
    <br />
    <p><small>This apps build with angular.io</small></p>
  </div>
</div>
