<div class="row p-3">
  <div class="col-12 p-3 text-white text-center">
    <h1>Pembuatan Website Angular + Android APK</h1>
    <img
      class="img-fluid"
      alt="pembuatan website angular"
      src="https://1.bp.blogspot.com/-qPEWEAkPSgE/YX4qVYvZDlI/AAAAAAAARk8/Z-ryrnKorecbyzRSpGV0oGY7jFzshJYYwCLcBGAsYHQ/s512/pembuatan%2Bwebsite%2Bangular.png"
    />
    <p>
      Membuat website dengan angular akan semakin memudahkanmu dalam kebutuhan
      develope website modern plus aplikasi android, yap kita dapat menggunakan
      angular technology dalam kebutuhan membuat aplikasi android mu plus
      website informasi dengan basis angular.
    </p>
    <p>
      Selain aplikasi android untuk upload playstore kamu juga akan mendapatkan
      website modern angular dan ini akan membantu untuk kebutuhan kemajuan
      perusahaan bisnis shop resto hingga artwork mu.
    </p>
  </div>
</div>
