<div class="row p-3">
  <div class="col-12 p-3 text-white text-center">
    <h1>Pembuatan Website React + Android APK</h1>
    <img
      class="img-fluid"
      alt="pembuatan website react"
      src="https://mesinkasironline.web.app/img/createwebsiteusingreact.png"
    />
    <p>
      Siapa yang tidak kenal dengan react yap, populer di dunia dan banyak
      digunakan para developer dalam kebutuhan pengembangan web app modern maka
      react menjadi alternatif dan solusi terbaik dalam pengembangan aplikasi
      android dengan berbasis react, nantinya bukan sekedar website saja tapi
      juga aplikasi android yang sudah di bundling dengan apk bundle siap upload
      ke playstore google, ini adalah all in one website + android app untuk
      kemudahan mu.
    </p>
  </div>
</div>
