<div class="row p-3">
  <div class="col-12 p-3 text-white text-center">
    <h1>Pembuatan Website Svelte + Android APK</h1>
    <img
      class="img-fluid rounded-circle"
      alt="pembuatan website sapper svelte modern"
      src="https://1.bp.blogspot.com/-_oSkIloglZI/YX4ol_HVbLI/AAAAAAAARk0/c9pD6oDdorkk62OBj_g4m2somTX0crzcgCLcBGAsYHQ/s400/pembuatan%2Bwebsite%2Bsvelte.png"
    />
    <p>
      Svelte merupakan pioner baru di dunia technology javascript atau website
      app modern , dan tentunya dengan svelte akan membantu kita membangun
      sebuah aplikasi android berbasis web app, ya kita dapat memanfaatkan
      technolgy svelte untuk build bundle apk android mu.
    </p>
    <p>
      Dengan ini maka kita bukan hanya sekedar membuat aplikasi android
      informasi tetapi juga akan memiliki sebuah website yang akan kita host ke
      statis hosting untuk kebutuhan terbaik dalam online kan webapp kamu.
    </p>
  </div>
</div>
