<div class="row p-3">
  <div class="col-12 p-3 text-white text-center">
    <h1>Pembuatan Website Vue + Android APK</h1>
    <img
      class="img-fluid"
      alt="pembuatan website vue"
      src="https://1.bp.blogspot.com/-CuW5hizAyI8/YX4uskb5MEI/AAAAAAAARlc/hSF2e482XhEX9UJjW6enN6usVN3FZFewQCLcBGAsYHQ/s400/pembuatan%2Bwebsite%2Bvue.png"
    />
    <p>
      Selain react dan angular maka vue juga merupakan alternatif solusi terbaik
      , ya dikenal dengan three kingdoom angular, react, dan vue adalah penguasa
      technology frontend modern dan tentunya banyak digunakan dalam
      pengembangan berbagai aplikasi maupun modern site, dengan vue pun kita
      dapat menggunakan nya untuk menciptakan aplikasi android sekaligus website
      app untuk bisnis usaha mu.
    </p>
  </div>
</div>
